doctype html
html(lang="en")
    h3 Hello, #{name}
    br
    p This is an email from PGS (Prime Generator Search), letting you know that your record:
    p #{new_record}
    br
    p Was recorded to our server!
    p This record has not been verified. You will recieve an email when it has.
    p You may have found a world record. Congradulations! (Hopefully)
    br
    p ~~~
    p Official Website: chemicaldevelopment.us
    p Github: github.chemicaldevelopment.us
    p Email: info@chemicaldevelopment.us
    br
    p ~~~
    p This message was sent automatically due to a concern with your account.
    p Please `block` this address if you do not intend to sign up for PGS, and let me know that you are being incorrectly contacted